body{
    background-color: azure;
    text-align: center;
}

button{
    border-color: blue;
    background-color: white;
    padding: 1px 32px;
}

button:hover{
    background-color: blue;
    color: white;
}